# =========================
# BUILD (Maven)
# =========================
target/
*.log

# =========================
# JAVA
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# IDE (IntelliJ / VSCode)
# =========================

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# ENV / CONFIG
# =========================
.env
*.env

# =========================
# TEMP FILES
# =========================
*.tmp
*.swp
*.swo

# =========================
# LOGS
# =========================
logs/
*.out
*.err

# =========================
# PROLOG (opsional)
# =========================
*.pl~
*.bak

# =========================
# TEST / CACHE (optional)
# =========================
.cache/